PORT=3000
BASE_URL=http://localhost:3000

# Base de datos
DATABASE_URL="mysql://usuario:contraseña@localhost:3306/nombre_base_datos"

# JWT
JWT_SECRET="tu_secreto_jwt_"
JWT_REFRESH_SECRET="tu_secreto_refresh"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

NODE_ENV="development"

# CLOUDINARY
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# GMAIL
EMAIL_USER="tu_correo@gmail.com"
EMAIL_PASS="tu_contraseña_de_aplicacion"
